* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  background-color: #1a374d;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  outline: none;
}
li {
  list-style: none;
}
